<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
    <!-- register-->
    <servlet>
        <servlet-name>register</servlet-name>
        <jsp-file>/register.jsp</jsp-file>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <!--register end-->
    
    <!--forgot password-->
    <servlet>
        <servlet-name>forgot</servlet-name>
        <jsp-file>/forgotpassword.jsp</jsp-file>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>forgot</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <!--forgot password end-->
    
    <!--error page-->
    <servlet>
        <servlet-name>error</servlet-name>
        <jsp-file>/error.jsp</jsp-file>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <!--error page end-->
    
    <!--expired page-->
    <servlet>
        <servlet-name>expired</servlet-name>
        <jsp-file>/expired.jsp</jsp-file>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>expired</servlet-name>
        <url-pattern>/expired</url-pattern>
    </servlet-mapping>
    <!--expired page end-->
   
    <!--error 404 page-->
    <servlet>
        <servlet-name>error404</servlet-name>
        <jsp-file>/error404.jsp</jsp-file>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>error404</servlet-name>
        <url-pattern>/error-404</url-pattern>
    </servlet-mapping>
    <!--error 404 page end-->
   
    <!-- Uncaught exception -->
    <error-page>
        <error-code>500</error-code>
        <location>/error</location>
    </error-page>
    
    <error-page>
        <error-code>404</error-code>
        <location>/error-404</location>
    </error-page>
    
    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>
    
   
    <listener>
        <listener-class>servletListners.ContextListner</listener-class>
    </listener>
    
    
</web-app>
