<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">
            org.postgresql.Driver
        </property>
        <property name="hibernate.dialect">
            org.hibernate.dialect.PostgreSQLDialect
        </property>        
        <property name="hibernate.connection.url">
            jdbc:postgresql://127.0.0.1:5432/OASdb
        </property>
        <property name="hibernate.connection.username">
            OASuser
        </property>
        <property name="hibernate.connection.password">
            admin@oas
        </property>
       
        <property name="show_sql">
            false
        </property>
        <property name="hbm2ddl.auto">
            update
        </property>
       
        <property name="hibernate.c3p0.min_size">
            5
        </property>
        <property name="hibernate.c3p0.max_size">
            100
        </property>
        <property name="hibernate.c3p0.timeout">
            300
        </property>
        <property name="hibernate.c3p0.max_statements">
            50
        </property>
        <property name="hibernate.c3p0.idle_test_period">
            3000
        </property>
        
        
        <mapping class="entities.ClassRoom"/>
        <mapping class="entities.Course"/>
        <mapping class="entities.Department"/>
        <mapping class="entities.Lecture"/>
        <mapping class="entities.Subject"/>
        <mapping class="entities.Teaching"/>
        <mapping class="entities.Attendance"/>
        <mapping class="entities.Teacher"/>
        <mapping class="entities.Student"/>
        <mapping class="entities.Admin"/>
        <mapping class="entities.User"/>        
        
    </session-factory>
</hibernate-configuration>